# used at run time
DATABASE_URL="postgresql://postgres:postgres@db:5432/appdb?schema=public&sslmode=disable"

# used to make migrations
DIRECT_URL="postgresql://postgres:postgres@db:5432/appdb?schema=public&sslmode=disable"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="appdb"
